* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(224, 224, 176);
}
body .titulo1 {
    margin: 20px;
    font-size: xx-large;
    font-weight: 16px;
}

.contenedor {
    width: 90%;
	max-width: 1000px;
	margin: 40px auto 100px auto;

	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 40px;

}

.poster {
    width: 100%;
}

.btn-cargar-peliculas {
    margin: 20px;
}
