* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(224, 224, 176);
}
body .titulo1 {
    margin: 20px;
    font-size: xx-large;
    font-weight: 16px;
    font-family: system-ui;
}

.contenedor-peliculas {
    width: 90%;
	max-width: 1000px;
	margin: 40px auto 100px auto;

	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 40px;

}
.contenedor-peliculas .titulo {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}
.poster {
    width: 100%;
    border-radius: 0.5em;
}

.btn-cargar-peliculas {
    margin: 20px;
    padding: 5px;
    background: antiquewhite;
    font-weight: 600;
    cursor: pointer;
}
.encabezado {
    background-color: black;
    display: flex;
    justify-content: space-between;
}
.search {
    align-self: center;
    height: 25px;
    margin-right: 1em;
}

.pelicula {
    cursor: pointer;
}
